# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Blaze=false
    B:CaveSpider=true
    B:Creeper=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:ancient_golem=false
    B:aqua_creeper=false
    B:baby=false
    B:beartfc=false
    B:betteranimalsplus.badger=false
    B:betteranimalsplus.blackbear=false
    B:betteranimalsplus.boar=false
    B:betteranimalsplus.brownbear=false
    B:betteranimalsplus.coyote=false
    B:betteranimalsplus.feralwolf=false
    B:betteranimalsplus.hirschgeist=false
    B:betteranimalsplus.lamprey=false
    B:betteranimalsplus.shark=false
    B:betteranimalsplus.tarantula=true
    B:betteranimalsplus.zotzpyre=false
    B:"botania:pinkWither"=false
    B:climber=false
    B:cyclops=false
    B:dread_beast=false
    B:dread_ghoul=false
    B:dread_knight=false
    B:dread_lich=false
    B:dread_scuttler=false
    B:dread_thrall=false
    B:entitydeadinventor=true
    B:entrail=false
    B:fossil.anu=false
    B:fossil.anubite=false
    B:fossil.debugtest=false
    B:fossil.debugtest_2=false
    B:fossil.failuresaurus=false
    B:fossil.sentrypigman=true
    B:fossil.tarslime=false
    B:freezer=false
    B:gorgon=false
    B:hauntedcow=false
    B:if_hydra=false
    B:if_troll=false
    B:"instrumentalmobs:CymbalHusk"=true
    B:"instrumentalmobs:DrumZombie"=true
    B:"instrumentalmobs:FrenchHornCreeper"=false
    B:"instrumentalmobs:MaracaSpider"=true
    B:"instrumentalmobs:MicrophoneGhast"=false
    B:"instrumentalmobs:TubaEnderman"=false
    B:"instrumentalmobs:XylophoneSkeleton"=true
    B:magma_monster=false
    B:magma_monster_grunt=false
    B:mod_lavacow.boneworm=false
    B:mod_lavacow.foglet=false
    B:mod_lavacow.ithaqua=false
    B:mod_lavacow.parasite=true
    B:mod_lavacow.pingu=false
    B:mod_lavacow.piranha=false
    B:mod_lavacow.ptera=false
    B:mod_lavacow.sludgelord=false
    B:mod_lavacow.undeadswine=false
    B:mod_lavacow.undertaker=false
    B:mod_lavacow.vespa=false
    B:mod_lavacow.vespacocoon=false
    B:mod_lavacow.zombiefrozen=true
    B:mod_lavacow.zombiemushroom=true
    B:mod_lavacow.zombiepiranha=false
    B:muse=false
    B:mutantSteve=false
    B:"netherex:brute"=false
    B:"netherex:coolmar_spider"=true
    B:"netherex:ember"=false
    B:"netherex:frost"=false
    B:"netherex:ghast_queen"=false
    B:"netherex:ghastling"=false
    B:"netherex:mogus"=false
    B:"netherex:nethermite"=false
    B:"netherex:salamander"=false
    B:"netherex:spinout"=false
    B:"netherex:spore"=false
    B:"netherex:spore_creeper"=false
    B:"netherex:wight"=false
    B:nuclearcraft.feral_ghoul=true
    B:present=false
    B:primitivemobs.baby_spider=false
    B:primitivemobs.bewitched_tome=false
    B:primitivemobs.blazing_juggernaut=false
    B:primitivemobs.brain_slime=false
    B:primitivemobs.festive_creeper=false
    B:primitivemobs.flame_spewer=false
    B:primitivemobs.goblin=false
    B:primitivemobs.harpy=false
    B:primitivemobs.haunted_tool=false
    B:primitivemobs.mimic=false
    B:primitivemobs.mother_spider=false
    B:primitivemobs.rocket_creeper=false
    B:primitivemobs.skeleton_warrior=true
    B:primitivemobs.support_creeper=false
    B:primitivemobs.treasure_slime=false
    B:primitivemobs.trollager=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=false
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:siren=false
    B:stranger=false
    B:stymphalianbird=false
    B:tconstruct.blueslime=false
    B:topielec=false
    B:trumpetskeleton.TrumpetSkeleton=true
    B:wideman=false
    B:woman=false
    B:zombieChicken=false
}


