.minecraft/astralsorcery/
.minecraft/.mixin.out/
.minecraft/usernamecache.json
.minecraft/servers.dat
.minecraft/options.txt
.minecraft/OpenComputersMod-1.7.5.192-lua53-native.64.dll
.minecraft/OpenComputersMod-1.7.5.192-lua52-native.64.dll
.minecraft/saves/
.minecraft/BotaniaVars.dat
.minecraft/journeymap/
natives/
.minecraft/usercache.json
.minecraft/logs/
.minecraft/crafttweaker.log
.minecraft/config/splash.properties
.minecraft/config/InvTweaks.cfg
instance.cfg
.minecraft/config/jei/worldSettings.cfg
.minecraft/config/LegibleNei/LegibleNei.log
.minecraft/screenshots/
instance_REMOTE_1320.cfg
instance_LOCAL_1320.cfg
instance_BASE_1320.cfg
instance_BACKUP_1320.cfg
instance.cfg~b38a6bd1105e139bca4d75d9b3ad0c79c1c58452
.minecraft/config/BiomeTweaker/output/biome/
.minecraft/config/BiomeTweaker/output/
.minecraft/crash-reports/
.minecraft/local/ftbutilities/backups.json
.minecraft/backups/2020-02-21-11-33-39.zip
