.minecraft/astralsorcery/
.minecraft/.mixin.out/
.minecraft/usernamecache.json
.minecraft/servers.dat
.minecraft/options.txt
.minecraft/OpenComputersMod-1.7.5.192-lua53-native.64.dll
.minecraft/OpenComputersMod-1.7.5.192-lua52-native.64.dll
.minecraft/saves/
.minecraft/BotaniaVars.dat
.minecraft/journeymap/
natives/
.minecraft/usercache.json
.minecraft/logs/
.minecraft/crafttweaker.log
.minecraft/config/splash.properties
.minecraft/config/InvTweaks.cfg
instance.cfg
.minecraft/config/jei/worldSettings.cfg
.minecraft/config/LegibleNei/LegibleNei.log
