# Configuration file

~CONFIG_VERSION: 1

##########################################################################################################
# targets
#--------------------------------------------------------------------------------------------------------#
# Set here which targets should be enabled or not.
# Note that not all targets present here may also have entries in game.
# NOTE: Certain targets may require additional configuration
##########################################################################################################

targets {
    # Forge Mod Loader
    B:FML=true

    # Advanced Rocketry
    B:advancedrocketry=true

    # Advanced Rocketry Core
    B:advancedrocketrycore=true

    # TFC Aged Drinks
    B:aged_drinks=true

    # AgriCraft
    B:agricraft=true

    # AI Improvements
    B:aiimprovements=true

    # Alternating Flux
    B:alternatingflux=true

    # Anvil Patch - Lawful
    B:anvilpatch=true

    # Applied Energistics 2
    B:appliedenergistics2=true

    # Aqueducts
    B:aqueducts=true

    # ArchitectureCraft
    B:architecturecraft=true

    # Advanced Rocketry Tweaker
    B:art=true

    # AstikorCarts
    B:astikorcarts=true

    # Astral Sorcery
    B:astralsorcery=true

    # Athenaeum
    B:athenaeum=true

    # The AUNIS Mod
    B:aunis=true

    # AutoRegLib
    B:autoreglib=true

    # B.A.S.E
    B:base=true

    # Baubles
    B:baubles=true

    # BD Lib
    B:bdlib=true

    # YUNG's Better Caves
    B:bettercaves=true

    # Better Nether
    B:betternether=true

    # BiblioCraft
    B:bibliocraft=true

    # BiomeTweaker
    B:biometweaker=true

    # BiomeTweakerCore
    B:biometweakercore=true

    # Bloodmoon
    B:bloodmoon=true

    # BnBGamingCore
    B:bnbgamingcore=true

    # BNBGamingLib
    B:bnbgaminglib=true

    # Botania
    B:botania=true

    # Botania Tweaks
    B:botania_tweaks=true

    # Botania Tweaks Core
    B:botania_tweaks_core=true

    # Bountiful Baubles
    B:bountifulbaubles=true

    # Camera Mod
    B:camera=true

    # careerbees
    B:careerbees=true

    # Ceramics
    B:ceramics=true

    # MrCrayfish's Furniture Mod
    B:cfm=true

    # Chisel
    B:chisel=true

    # Chisels & Bits
    B:chiselsandbits=true

    # Chunk Pregenerator
    B:chunkpregenerator=true

    # Cloche Call
    B:clochecall=true

    # Cloche++
    B:clochepp=true

    # CodeChicken Lib
    B:codechickenlib=true

    # CoFH Core
    B:cofhcore=true

    # Comforts
    B:comforts=true

    # CommonCapabilities
    B:commoncapabilities=true

    # Compact Machines 3
    B:compactmachines3=true

    # Canny Composter
    B:composter=true

    # Extended Mod Config
    B:configmod=true

    # ContentTweaker
    B:contenttweaker=true

    # CoroUtil Library
    B:coroutil=true

    # Crafting Tweaks
    B:craftingtweaks=true

    # CraftTweaker2
    B:crafttweaker=true

    # CraftTweaker JEI Support
    B:crafttweakerjei=true

    # CreativeCore
    B:creativecore=true

    # CreativeCoreDummy
    B:creativecoredummy=true

    # CT-GUI
    B:ctgui=true

    # CTM
    B:ctm=true

    # Cyclic
    B:cyclicmagic=true

    # Cyclops Core
    B:cyclopscore=true

    # Diet Hopper
    B:diethopper=true

    # Dropt
    B:dropt=true

    # Document Your Mod Mod
    B:dymm=true

    # Dynamic Trees
    B:dynamictrees=true

    # DynamicTreesTFC
    B:dynamictreestfc=true

    # Embers Rekindled
    B:embers=true

    # Emerging Technology
    B:emergingtechnology=true

    # Enchantment Descriptions
    B:enchdesc=true

    # Engineer's Decor
    B:engineersdecor=true

    # Engineer's Doors
    B:engineersdoors=true

    # Extended Renderer
    B:extendedrenderer=true

    # External Tweaker
    B:externaltweaker=true

    # Extra Alchemy
    B:extraalchemy=true

    # Extra Bit Manipulation
    B:extrabitmanipulation=true

    # ExtraBotany
    B:extrabotany=true

    # Fairy Lights
    B:fairylights=true

    # FindMe
    B:findme=true

    # Flopper
    B:flopper=true

    # Floralchemy
    B:floralchemy=true

    # FoamFix
    B:foamfix=true

    # FoamFixCore
    B:foamfixcore=true

    # Food Expansion
    B:foodexpansion=true

    # Forestry
    B:forestry=true

    # Minecraft Forge
    B:forge=true

    # Shadowfacts' Forgelin
    B:forgelin=true

    # Forge Multipart CBE
    B:forgemultipartcbe=true

    # FTB Backups
    B:ftbbackups=true

    # FTB Library
    B:ftblib=true

    # FTB Utilities
    B:ftbutilities=true

    # Funky Locomotion
    B:funkylocomotion=true

    # Ghost's Explosives Mod
    B:ghostsexplosives=true

    # Hardcore Darkness
    B:hardcoredarkness=true

    # Hooked
    B:hooked=true

    # In-Game wiki Mod
    B:igwmod=true

    # Immersive Cables
    B:immersivecables=true

    # Immersive Engineering
    B:immersiveengineering=true

    # Immersive Petroleum
    B:immersivepetroleum=true

    # Immersive Technology
    B:immersivetech=true

    # Immersive Engineering Tweaks
    B:immersivetweaks=true

    # InfinityLib
    B:infinitylib=true

    # Inspirations
    B:inspirations=true

    # InstantUnify
    B:instantunify=true

    # Integrated Dynamics
    B:integrateddynamics=true

    # IntegratedDynamics-Compat
    B:integrateddynamicscompat=true

    # Integrated Tunnels
    B:integratedtunnels=true

    # IntegratedTunnels-Compat
    B:integratedtunnelscompat=true

    # Inventory Tweaks
    B:inventorytweaks=true

    # InWorldCrafting
    B:inworldcrafting=true

    # Just a Few Fish
    B:jaff=true

    # Just Enough Energistics
    B:jee=true

    # Just Enough Items
    B:jei=true

    # JEI Bees
    B:jeibees=true

    # JustEnoughIDs
    B:jeid=true

    # JEI Integration
    B:jeiintegration=true

    # Jeivillagers
    B:jeivillagers=true

    # Just Enough Pattern Banners
    B:jepb=true

    # Just Enough Resources
    B:jeresources=true

    # Just Enough Throwing In Fluids
    B:jetif=true

    # JourneyMap
    B:journeymap=true

    # Just Enough Dimensions
    B:justenoughdimensions=true

    # Just Enough Petroleum
    B:justenoughpetroleum=true

    # Keyboard Wizard
    B:keywizard=true

    # LagGoggles
    B:laggoggles=true

    # LegibleNei
    B:legiblenei=true

    # libnine
    B:libnine=true

    # LibrarianLib
    B:librarianlib=true

    # LibrarianLib Stage 2
    B:librarianliblate=true

    # LibraryEx
    B:libraryex=true

    # Vulpes library
    B:libvulpes=true

    # LittleTiles
    B:littletiles=true

    # LittleTilesCore
    B:littletilescore=true

    # MagicBees
    B:magicbees=true

    # Mantle
    B:mantle=true

    # Minecraft Coder Pack
    B:mcp=true

    # Macaw's Bridges
    B:mcwbridges=true

    # Macaw's Roofs
    B:mcwroofs=true

    # Macaw's Windows
    B:mcwwindows=true

    # Forge Microblocks
    B:microblockcbe=true

    # Minecraft
    B:minecraft=true

    # Minecraft Multipart Plugin
    B:minecraftmultipartcbe=true

    # Minerva Library
    B:minerva=true

    # Immersive Tweaker
    B:mmersivetweaker=true

    # Moar Boats
    B:moarboats=true

    # Mod Tweaker
    B:modtweaker=true

    # Modular Diversity
    B:modulardiversity=true

    # Modular Machinery
    B:modularmachinery=true

    # More Bees
    B:morebees=true

    # MoreTweaker
    B:moretweaker=true

    # Mouse Tweaks
    B:mousetweaks=true

    # MrTJPCore
    B:mrtjpcore=true

    # MTLib
    B:mtlib=true

    # Multifarm Crops
    B:multifarmcrops=true

    # Mystical Gears
    B:mystgears=true

    # Mystical Mechanics
    B:mysticalmechanics=true

    # Environmental Rads : NuclearCraft Addon
    B:ncenvironmentalrads=true

    # NetherEx
    B:netherex=true

    # NetherPortalFix
    B:netherportalfix=true

    # No Recipe Book
    B:norecipebook=true

    # NuclearCraft
    B:nuclearcraft=true

    # OpenComputers
    B:opencomputers=true

    # OpenComputers (Core)
    B:"opencomputers|core"=true

    # OpenDisks
    B:opendisks=true

    # OpenLights
    B:openlights=true

    # OpenScreens
    B:openscreens=true

    # OversizedItemInStorageArea
    B:oversizediteminstoragearea=true

    # Patchouli
    B:patchouli=true

    # Peckish
    B:peckish=true

    # Phosphor Lighting Engine
    B:phosphor-lighting=true

    # Pillar
    B:pillar=true

    # Placebo
    B:placebo=true

    # PneumaticCraft: Repressurized
    B:pneumaticcraft=true

    # Pressure Pipes
    B:pressure=true

    # projectred-compat
    B:projectred-compat=true

    # ProjectRed Core
    B:projectred-core=true

    # ProjectRed Fabrication
    B:projectred-fabrication=true

    # ProjectRed Illumination
    B:projectred-illumination=true

    # ProjectRed Integration
    B:projectred-integration=true

    # ProjectRed Transmission
    B:projectred-transmission=true

    # Psi
    B:psi=true

    # Psi: Combat Magic
    B:psiaddons=true

    # Psio
    B:psicosts=true

    # Pyrotech
    B:pyrotech=true

    # Quark
    B:quark=true

    # Railcraft
    B:railcraft=true

    # RandomPatches
    B:randompatches=true

    # ReAuth
    B:reauth=true

    # Redstone Flux
    B:redstoneflux=true

    # Resource Loader
    B:resourceloader=true

    # Roguelike Dungeons
    B:roguelike=true

    # Random PSIdeas
    B:rpsideas=true

    # Gauges and Switches
    B:rsgauges=true

    # Rustic
    B:rustic=true

    # Rustichromia
    B:rustichromia=true

    # Scavenge
    B:scavenge=true

    # Signals
    B:signals=true

    # Simply Tea
    B:simplytea=true

    # Soot
    B:soot=true

    # Super Sound Muffler: Revived
    B:supersoundmuffler=true

    # Surge
    B:surge=true

    # TerraFirmaCraft
    B:tfc=true

    # TFC Metallum
    B:tfcmetallum=true

    # TFCTech Unofficial
    B:tfctech=true

    # The One Probe
    B:theoneprobe=true

    # TIS-3D
    B:tis3d=true

    # Toast Control
    B:toastcontrol=true

    # Corail Tombstone
    B:tombstone=true

    # Tool Progression
    B:toolprogression=true

    # TOP Addons
    B:topaddons=true

    # TreeTweaker
    B:treetweaker=true

    # Triumph
    B:triumph=true

    # UniDict
    B:unidict=true

    # Unlimited Chisel Works
    B:unlimitedchiselworks=true

    # Unlimited Chisel Works - TFC1 Compat
    B:unlimitedchiselworks_tfc1=true

    # VanillaFix
    B:vanillafix=true

    # WanionLib
    B:wanionlib=true

    # Waterflasks
    B:waterflasks=true

    # Whopper
    B:whopper=true

    # WorldGenIndicators
    B:worldgenindicators=true

    # World Stripper
    B:worldstripper=true

    # Wumple Util Library
    B:wumpleutil=true

    # Nomadic Tents
    B:yurtmod=true

    # Zombie Awareness
    B:zombieawareness=true
}


